@using Education.Data.Entities;
@using Education.ViewModel;
@using Microsoft.AspNetCore.Identity;
@model PlaylistDetailVM;

@inject UserManager<AppUser> UserManager

@{

    var CurrentUser = await UserManager.GetUserAsync(User);
}


<section class="playlist">

   <h1 class="heading">playlist details</h1>

   <div class="row">

      <div class="col">

            <form action="" method="post" class="save-list">
                @{
                    string savep;
                    string icon;
                    @if (@Model.IsBookMark == 1)
                    {
                        icon = "fa-solid fa-bookmark";
                        savep = "saved";
                    }
                    else
                    {
                        icon = "fa-regular fa-bookmark";
                        savep = "save playlist";
                    }
                }
       
               <button type="button" id="save" ><i id="BookMark" class="@icon"></i><span>@savep</span></button>
          
            </form> 

         <div class="thumb">
                <span>@Model.Contents.Count videos</span>
                <img src="@Model.Thumb" alt="">
         </div>
      </div>


      <div class="col">
         <div class="tutor">
                <img src="@Model.AppUser.Image" alt="">
            <div>
               <h3>@Model.AppUser.UserName</h3>
               <span>Tutor</span>
            </div>
         </div>
         <div class="details">
            <h3>@Model.Title</h3>
            <p>@Model.Description</p>
                <div class="date"><i class="fas fa-calendar"></i><span>@Model.DateCreated.ToString("dd/MM/yyyy")</span></div>
         </div>
      </div>


   </div>

</section>

<!-- playlist section ends -->

<!-- videos container section starts  -->

<section class="videos-container">

   <h1 class="heading">playlist videos</h1>

   <div class="box-container">

    @foreach (var item in Model.Contents)
        {
            <input type="hidden" value="">

            <a href ="@Url.Action("Index","Content", new{ ContentId = item.Id})"class="box">
         <i class="fas fa-play"></i>
                <img src="@item.Thumb" alt="">
                <h3>@item.Title</h3>
                </a>
        }
   </div>

</section>
@section Scripts {
    <script>
        // save playlist
        $(document).ready(function () {

            $("#save").click(function () {
                if ($("#save span").text() == "save playlist"){
                    $.ajax({
                        url: "/Playlist/AddBookMark",
                        type: "POST",
                        data: {
                            CurUserId: "@CurrentUser.Id",
                            PlaylistId: @Model.Id
                               },
                        success: function (data) {
                            $("#save span").text("saved");
                            $("#BookMark").removeClass("fa-regular fa-bookmark").addClass("fa-solid fa-bookmark");
                        },
                        error: function (error) {
                            console.error("false");
                        }

                    });
                }
                else {
                    $.ajax({
                        url: "/Playlist/RemoveBookMark",
                        type: "POST",
                        data: {
                            CurUserId: "@CurrentUser.Id",
                            PlaylistId: @Model.Id
                                                    },
                        success: function (data) {
                            $("#BookMark").removeClass("fa-solid fa-bookmark").addClass("fa-regular fa-bookmark");
                            $("#save span").text("save playlist");
                        },
                        error: function (error) {
                            console.error("false");
                        }

                    });
                }

            });
        });
    </script>

    }