@using Education.Data.Entities;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{

    var CurrentUser = await UserManager.GetUserAsync(User);  

}

<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>home</title>

   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="~/css/style.css">

    <link rel="stylesheet" href="~/toastr/toastr.css">
   

</head>

<body>

    <header class="header">

        <section class="flex">

            <a href="home.php" class="logo">Educa.</a>

            <form action="search_course.php" method="post" class="search-form">
                <input type="text" name="search_course" placeholder="search courses..." required maxlength="100">
                <button type="submit" class="fas fa-search" name="search_course_btn"></button>
            </form>

            <div class="icons">
                <div id="menu-btn" class="fas fa-bars"></div>
                <div id="search-btn" class="fas fa-search"></div>
                <div id="user-btn" class="fas fa-user"></div>
                <div id="toggle-btn" class="fas fa-sun"></div>
            </div>

            <div class="profile">

                @if (SignInManager.IsSignedIn(User))
                {
                    <img src="@CurrentUser.Image" alt="">
                    <h3>@CurrentUser.UserName</h3>
                    if (User.IsInRole("Student"))
                    {
                        <span>student</span>
                    }
                    else
                    {
                        <span>tutor</span>
                    }
                    <a href="profile.php" class="btn">view profile</a>
                    <a asp-controller="Account" asp-action="Logout" onclick="return confirm('logout from this website?');" class="delete-btn">logout</a>
                }
                else
                {
                    <h3>please login or register</h3>
                    <div class="flex-btn">
                        <a asp-controller="Account" asp-action="Login" class="option-btn">login</a>
                        <a asp-controller="Account" asp-action="Register" class="option-btn">register</a>
                    </div>
                }

            </div>

        </section>

    </header>

    <!-- header section ends -->
    <!-- side bar section starts  -->

    <div class="side-bar">

        <div class="close-side-bar">
            <i class="fas fa-times"></i>
        </div>

        <div class="profile">
            @if (SignInManager.IsSignedIn(User))
            {
                <img src="@CurrentUser.Image" alt="">
                <h3>@CurrentUser.UserName</h3>
                <a asp-action="Index" asp-controller="Profile" asp-route-Id ="@CurrentUser.Id" class="btn">view profile</a>
            }
            else
            {
                <img src="~/images/pic-1.jpg" alt="">
            }
        </div>

        @if (User.IsInRole("Tutor")) {
            <nav class="navbar">
                <a href="/Home/Index"><i class="fas fa-home"></i><span>home</span></a>
                <a href="/Playlist/Index"><i class="fas fa-graduation-cap"></i><span>courses</span></a>
                <a href="/TuTor/Index"><i class="fas fa-chalkboard-user"></i><span>teachers</span></a>
                <a href="/Teacher/Home/Index"><i class="fa-solid fa-right-from-bracket"></i><span>Dashboard</span></a>
            </nav>

        }
        else
        {
            <nav class="navbar">
                <a href="/Home/Index"><i class="fas fa-home"></i><span>home</span></a>
                <a href="/Home/About"><i class="fas fa-question"></i><span>about us</span></a>
                <a href="/Playlist/Index"><i class="fas fa-graduation-cap"></i><span>courses</span></a>
                <a href="/TuTor/Index"><i class="fas fa-chalkboard-user"></i><span>teachers</span></a>
                <a href="/Contact/Index"><i class="fas fa-headset"></i><span>contact us</span></a>
            </nav>
        }

    </div>

    @RenderBody();

    <!-- side bar section ends -->


   <!-- custom js file link  -->
   <script src="~/js/script.js"></script>
    <script src="~/lib/jquery-3.6.4.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/toastr/toastr.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>


