@using Education.Data.Entities;
@using Education.ViewModel;
@using Microsoft.AspNetCore.Identity;
@model ContentVM
@inject UserManager<AppUser> UserManager

@{
    var CurrentUser = await UserManager.GetUserAsync(User);
}
    <!-- watch video section starts  -->
<section class="edit-comment" >
    <h1 class="heading" >edit comment</h1>
    <form action="" method="post" id="form" style="display:none">
        <input type="hidden" name="update_id" value="<?= $fetch_edit_comment['id']; ?>">
        <textarea name="update_box" class="box" maxlength="1000" required placeholder="please enter your comment" cols="30" rows="10"><?= $fetch_edit_comment['comment']; ?></textarea>
        <div class="flex">
            <a id="cancel" class="inline-option-btn">cancel edit</a>
            <input type="submit" value="update now" name="update_now" class="inline-btn">
        </div>
    </form>
</section>



    <section class="watch-video">

        <div class="video-details">
        <video src="@Model.Video" class="video" controls poster="@Model.Thumb" ></video>
            <h3 class="title">@Model.Title</h3>
            <div class="info">
                <p><i class="fas fa-calendar"></i><span>@Model.DateCreated.ToString("dd-MM-yyyy")</span></p>
            <p><i class="fas fa-heart" id="likeCount"></i><span>@Model.Likes.Count</span></p>
            </div>
            <div class="tutor">
                <img src="@Model.AppUser.Image" alt="">
                <div>
                    <h3>@Model.AppUser.UserName</h3>
                    <span>Tutor</span>
                </div>
            </div>
             <form action="" method="post" class="flex">
                <a asp-action="Detail" asp-controller ="Playlist" asp-route-Id ="@Model.PlaylistId" class="inline-btn">view playlist</a>
                        
                @if (Model.UserLiked == 1)
                {
                <button  id="likedButton"><i class="fas fa-heart"></i><span>liked</span></button>
                }
                else
                {
                <button  id="likeButton"><i class="far fa-heart"></i><span>like</span></button>
                }
             
            </form> 
            <div class="description"><p>@Model.Description</p></div> 
        </div>
             
    </section>

    <!-- watch video section ends -->  
<section class="comments">

    <h1 class="heading">add a comment</h1>

    <form action="" method="post" class="add-comment">
        <input type="hidden" name="content_id" value="<?= $get_id; ?>">
        <textarea id="c_message" name="c_message" required placeholder="write your comment..." maxlength="300" cols="30" rows="10"></textarea>
        <button type = "button" id="addComment" class="inline-btn">add comment</button>
    </form>

    <h1 class="heading">user comments</h1>


    <div class="show-comments">
        @foreach (var item in Model.Comments)
        {
            <div class="box" id="commentscontainer">
                <div class="user">
                    <img src="@item.AppUser.Image" alt="">
                    <div>
                        <h3>@item.AppUser.UserName</h3>
                        <span>@item.DateCreated.ToString("dd-MM-yyyy")</span>
                    </div>
                </div>
                <p class="text">@item.Message</p>
                @if (item.UserId == CurrentUser.Id)
                {
                    <form action="" method="post" class="flex-btn">
                        <input type="hidden" name="comment_id" value="@item.Id">
                        <button type="submit" class="inline-option-btn">edit comment</button>
                        <button type="submit" name="delete_comment" class="inline-delete-btn" onclick="return confirm('delete this comment?');">delete comment</button>
                    </form>
                }
            </div>
        }
    </div>

</section>
<!-- comments section starts  -->

@section Scripts {


    <script>
        $(document).ready(function () {

            $("#cancel").click(function () {               
                $("#form").hide();
            });

        });
    </script>

    <script>
        $(document).ready(function () {

            $("#addComment").click(function () {
                $.ajax({
                    url: "/Content/AddComment",
                    type: "POST",
                    data: {
                        message: $("#c_message").val(),
                        ContentId: @Model.Id
                    },
                    success: function (data) {
                        alert("Succes");
                        
                    },
                    error: function (error) {
                        console.error("false");
                    }

                });
            });
        });
    </script>

}

