@using Education.ViewModel
@model List<TutorVM>

<section class="teachers">

    <h1 class="heading">expert teachers</h1>

    <form asp-action="Search" method="get" class="search-tutor">
        <input type="text" name="keyword" placeholder="search tutors..." required maxlength="100">
        <button type="submit" class="fas fa-search" name="search_tutor"></button>
    </form>

    <div class="box-container">

        <div class="box offer">
            <h3>become a tutor</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, itaque ipsam fuga ex et aliquam.</p>
            <a href="@Url.Action("Register","Account")" class="inline-btn">get started</a>
        </div>
        @foreach (var item in Model)
        {
            <div class="box" method="get">
                <div class="tutor">
                    <img src="@item.UserImage" alt="">
                    <div>
                        <h3>@item.UserName</h3>
                        <span>Tutor</span>
                    </div>
                </div>
                <p>total playlists : <span>@item.PlaylistCount</span></p>
                <p>total videos : <span>@item.VideoCount</span></p>
                <p>total likes : <span>@item.LikeCount</span></p>

                <a asp-controller="Tutor" asp-action="Detail" asp-route-Id="@item.UserId" class="inline-btn">view profile</a>
            </div>

        }

    </div>

</section>
