@using Education.Data.Entities;
@using Education.ViewModel
@model List<LikeVM>
@using Microsoft.AspNetCore.Identity;
@inject UserManager<AppUser> UserManager

@{

    var CurrentUser = await UserManager.GetUserAsync(User);
}

<section class="liked-videos">

    <h1 class="heading">liked videos</h1>

    <div class="box-container">

       @foreach(var item in Model){
        <div class="box">
            <div class="tutor">
                <img src="@item.AppUser.Image" alt="">
                <div>
                    <h3>@item.AppUser.UserName</h3>
                    <span>@item.Contents.DateCreated.ToString("dd/MM/yyyy")</span>
                </div>
            </div>
            <img src="@item.Contents.Thumb" alt="" class="thumb">
            <h3 class="title">@item.Contents.Title</h3>
            <form action="" method="post" class="flex-btn">
                <a href="@Url.Action("Index","Content",new {ContentId = item.Contents.Id, UserId = item.AppUser.Id})" class="inline-btn">watch video</a>
                    <a href="@Url.Action("Remove","Like",new {ContentId = item.Contents.Id, UserId = CurrentUser.Id})" onclick="return confirm('Delete this Content ?');" class="inline-delete-btn">Remove</a>
                           
            </form>
                
               
                  
                
        </div>
        }
     

    </div>

</section>
